:root {
  --light-pink: #f8dbdb;
  --yellow-lime: #dde225;
  --orange: #f98805;
  --hot-pink: #f35695;
  --dark-green: #264414;
  --electric-blue: #4b11ed;
  --black: #000000;
  --aqua: #c2fcf7;
  --soft-yellow: #fff789;
  --peach-cream: #fff3e2;
  --font-main: 'Poppins', sans-serif;
  --main-text-color: #000000;
  --second-text-color: var(--electric-blue);
}

.App {
  text-align: center;
  font-family: var(--font-main);
  background-color: var(--peach-cream);
  color: #000;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
